@model CountriesModel

<div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Authors table</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th>Kod</th>
                                    <th>Indeks</th>
                                    <th>Nazwa</th>
                                    <th>Data dodania</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    System.Diagnostics.Debug.Assert(Model.Countries != null, "Model.Countries != null");
                                }
                                @foreach (var item in Model.Countries)
                                {
                                    <tr>
                                        <td>
                                            @item.CountryId
                                        </td>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.Code
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
