@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        @Html.Label($"{User.Identity.Name}");
    }

</div>
